html {
    font-family: "Verdana";
	background-image: url('images/background.gif');
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: absolute;
}
table, th, td {
   border: 1px solid grey;
} 
table {
	border-collapse: collapse;
	background-color: rgba(76, 180, 206, 0.75);
	text-align: center;
	height:400px;
	min-height:400px;
	box-shadow: 1px 1px 5px black;
}
.tb5 {
	border: 3px double #CCCCCC;
}
#footer{
	color: rgba(76, 180, 206, 0.75);
	text-align: center;
}

#index_meni {
	
	transition: background-color 0.5s ease;
    padding: 10px 10px;
}

#index_meni:hover {
	background-color: background-color: rgba(76, 180, 206, 1);;
	box-shadow: 1px 1px 5px black;
}

a {
	color: black;
}
a:hover{
	color: lightgrey;
}

footer{
	border-top: 2px solid black;
	margin-top: 6px;
}

select {
	width:142px;  
}
textarea {
    resize: none;
}
label{
	display:inline-block;
	width:300px;
	float: left;
}
fieldset{
	border:none;
	width:500px;
	margin:0px auto;
}
#oglas{
	border:none;
	width:500px;
	margin:0px auto;
	text-align: left;
}
.ui-datepicker {
    width: auto;
    height: auto;
		text-align: center;
    background-color: #888888;
}	

ul {
		width: 100%;	
		height: 55;
		list-style-type: none;
    margin: 0;
		padding-left: 0px;
		top: 0;	
    overflow: hidden;
    background-color: #BBB;
		border-bottom: 3px solid black;
		float:right;
}

li {
    height: 55;		
    float: left;
		border-right:2px solid darkgreen;
}
li:last-child {
    border-right: none;
}

#logo{
	height: 0px;
	float: unset;
	padding-left: 010px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0;
	
	border-top: 0px solid black;
	
}
#desni_meni{
	border-left:2px solid darkgreen;
	float:right;
}
#search{
	
	border-left:2px solid darkgreen;
	margin-left: 220px;
}

li a {
		height: 55;
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
		margin: 0px;
}

li a:hover {
    color: #FFF;
    background-color: #222;
}

hr {
	color: #FFF;
	background-color: #FFF;
	height: 1px;
	width: 100%;
}

#opis {
	float:center;
	word-wrap: break-word;
	width:500px;
}

.btn {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #8a8a8a;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #000000;
  text-decoration: none;
}

a.fancybox img {
	border: none;
	box-shadow: 0 1px 7px rgba(0,0,0,0.6);
	-o-transform: scale(1,1); 
	-ms-transform: scale(1,1); 
	-moz-transform: scale(1,1); 
	-webkit-transform: scale(1,1); 
	transform: scale(1,1); 
	-o-transition: all 0.2s ease-in-out; 
	-ms-transition: all 0.2s ease-in-out; 
	-moz-transition: all 0.2s ease-in-out; 
	-webkit-transition: all 0.2s ease-in-out; 
	transition: all 0.2s ease-in-out;
} 
a.fancybox:hover img {
	position: relative; 
	z-index: 999; 
	-o-transform: scale(1.03,1.03); 
	-ms-transform: scale(1.03,1.03); 
	-moz-transform: scale(1.03,1.03); 
	-webkit-transform: scale(1.03,1.03); 
	transform: scale(1.03,1.03);
}

#profile_meni {
    color: black;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #FFF;
}

#profile_meni:hover {
    color: white;
    background-color: #000000;
}

.pagination {
	display:inline-block;
	padding-left:0;
	margin:20px 0;
	border-radius:4px
}
.pagination>li {
	display:inline
}
.pagination>li>a,.pagination>li>span {
	position:relative;
	float:left;
	padding:6px 12px;
	margin-left:-1px;
	line-height:1.42857143;
	color:white;
	text-decoration:none;
	background-color:grey;
	border:1px solid grey
}
.pagination>li:first-child>a,.pagination>li:first-child>span {
	margin-left:0;
	border-top-left-radius:4px;
	border-bottom-left-radius:4px
}
.pagination>li:last-child>a,.pagination>li:last-child>span {
	border-top-right-radius:4px;
	border-bottom-right-radius:4px
}
.pagination>li>a:focus,.pagination>li>a:hover,.pagination>li>span:focus,.pagination>li>span:hover {
	z-index:3;
	color:#23527c;
	background-color:lightgrey;
	border-color:#ddd
}
.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover {
	z-index:2;
	color:#fff;
	cursor:default;
	background-color:darkgreen;
	border-color:darkgreen;
}
.pagination>.disabled>a,.pagination>.disabled>a:focus,.pagination>.disabled>a:hover,.pagination>.disabled>span,.pagination>.disabled>span:focus,.pagination>.disabled>span:hover {
	color:#777;
	cursor:not-allowed;
	background-color:lightgrey;
	border-color:#ddd
}
.pagination-lg>li>a,.pagination-lg>li>span {
	padding:10px 16px;
	font-size:18px;
	line-height:1.3333333
}
.pagination-lg>li:first-child>a,.pagination-lg>li:first-child>span {
	border-top-left-radius:6px;
	border-bottom-left-radius:6px
}
.pagination-lg>li:last-child>a,.pagination-lg>li:last-child>span {
	border-top-right-radius:6px;
	border-bottom-right-radius:6px
}
.pagination-sm>li>a,.pagination-sm>li>span {
	padding:5px 10px;
	font-size:12px;
	line-height:1.5
}
.pagination-sm>li:first-child>a,.pagination-sm>li:first-child>span {
	border-top-left-radius:3px;
	border-bottom-left-radius:3px
}
.pagination-sm>li:last-child>a,.pagination-sm>li:last-child>span {
	border-top-right-radius:3px;
	border-bottom-right-radius:3px
}

